<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
        <a class="navbar-brand" href="index.html">CANABRABA</a>
        <ul class="navbar-nav mr-auto">
            <li class="navbar-item"><a class="nav-link" href="index.html">HOME</a></li>
            <li class="navbar-item"><a class="nav-link" href="lista-cervejas.html">CERVEJAS</a></li>
        </ul>
    </nav>
</header>